@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    transition: all .15s linear;
    scroll-behavior: smooth;
}

:root{
    --main: rgb(21,21,21);
    --darkmain: rgb(18,18,18);
    --second: rgb(27,27,27);
    --cyan: #00ccb1;
    --hovercyan: #009b86;
    --pink: #ef00bf;
    --hoverpink: #b90094;
    --white: #fff;
    --trustpilot: #00B67A;
    --transparent: #00000000;
    --box-shadow: 0 .5rem .7rem rgba(0, 0, 0, 0.50);

    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1
}
body{
    background-color: var(--main);
    overflow-x: hidden;
}
::selection{
    color: var(--white);
    background: var(--pink);
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    border-radius: 0px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
    background-color: var(--main);
}
::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: var(--cyan);
}
::-webkit-scrollbar-thumb:hover{
    border-radius: 5px;
    background-color: var(--hovercyan);
}
.logo{
    width: 70px;
    cursor: pointer; 
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding:  8px 6%;
    display: flex;
    align-items: center;
    background-color: var(--main);
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
    margin-top: 41px;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
    padding-top: 15px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 17px;
}
nav ul li a:hover{
    color: var(--pink);
    transition: .4s;
}
.btn{
    display: inline;
    background-color: var(--cyan);
    color: #ffffff;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 10px;
    transition: .4s;
}
.btn:hover{
    background-color: var(--hovercyan);
    color: #fff;
    transition: .4s;
}

.open-menu , .close-menu{
    position: absolute;
    color: #fff;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
    z-index: 1000;
}
.open-menu{
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.close-menu{
    top: 20px;
    right: 20px;
}
#check{display: none;}
.active{
    color: var(--pink);
}
.special{
    display: none;
}
.navbar-one{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: var(--main);
    color: white;
    padding: 8px;
    z-index: 1000;
    border-bottom: 1px solid #282828;
}
.nav-one{
    padding-left: 80px;
    padding-right: 80px;
    border: 1px solid red;
}
.nav-od{
    margin-left: 10px;
    margin-right: 10px;
}
.image{
    display: block;
    margin-left: 6px;
}
.en{
    display: flex;
    color: #ccc;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}
.en:hover{
    color: var(--cyan);
    text-decoration: underline;
}
.building{
    float: left;
    text-align: left;
}
.alerts{
    margin-left: 30px;
    float: left;
    text-align: center;
}
.ann{
    background-color: var(--pink);
    border-radius: 8px;
    padding: 3px 3px;
}
.language{
    float: right;
    text-align: right;
}
.carousel-item img{
    height: 72vh;
}
.carousel{
    margin-top: 12vh;
}
.about-us{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
    background-color: var(--second);
}
.about-us h1{
    font-size: 50px;
    color: var(--white);
    margin-bottom: 25px;
    position: relative;
    font-weight: bolder;
}
.about-us p{
    font-size: 18px;
    color: var(--white);
    margin-bottom: 35px;
    margin-left: 6vh;
    margin-right: 6vh;
}
.about-us h2{
    letter-spacing: 2vh;
    margin-bottom: 3vh;
    font-size: 15px;
}
.cyan{
    color: var(--cyan);
}
.pink{
    color: var(--pink);
}
.mabout{
    width: 100%;
    padding: 20px 0px;
    margin: 0px;
    background-color: var(--second);
}
.mabout2{
    margin-top: 6vh;
    margin-bottom: 6vh;
}
.about2{
    width: 100%;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.commingsoon{
    min-height: calc(100vh - 320px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.card-cs{
    background-color: #191A1F;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 8px;
    padding: 12px;
    padding-bottom: 18px;
    border: 2px solid #cd00a4;
    margin-top: 35vh;
    max-width: 600px;
    width: 100%;
}
.card-cs p{
    color: #fff;
}
h2{
    color: #00b69e;
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}
.icon {
    position: relative;
    margin-left: 255px;
    margin-top: -40px;
    background-color: rgb(25,26,31);
    border: 2px solid #cd00a4;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 8px;
}
svg {
    width: 25px;
    height: 25px;
}
.icon-svg{
    width: 30px;
    height: 30px;
}
.headbar{
    width: calc(100% - 20px);
    margin-left: 10px;
    height: 32px;
    background-color: #191A1F;
    border-radius: 8px;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.205);
}
.headbar p{
    position: absolute;
    margin: 0;
    font-size: 14px;
    text-align: center;
    width: 100%;
    color: white;
}
.headbar .bar{
    height: 100%;
    background-color: #00b69e;
    border-radius: 4px;
    animation: fill 1s ease forwards;
}
@keyframes fill {
    0% {
        width: 0%;
    }

    100% {
        width: 10%; 
    }
}
.hero{
    height: 100vh;
    width: 100%;
    background-image: url('img/network-background.png');
    background-size: cover;
    background-position: center;
}
.about-2{
    width: 100%;
    padding: 20px 0px;
    margin: 0px;
    background-color: var(--main);
    height: 700px;
}
.card{
    display: block;
    width: 1220px;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
    font-family: 'Born Strong', sans-serif;
    font-weight: 500;
    margin-top: 20px;
    background-color: var(--main);
}
.text-img {
    display: flex;
    padding: 56px 60px;
    box-pack: justify;
    justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    box-align: stretch;
    align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    background-color: var(--second);
}
.text-img img{
    width: 40%;
    display: grid;
}
.text_blok {
    max-width: 520px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.h3_left {
    margin-top: 2px;
    padding-top: 18px;
    color: var(--cyan);
    font-size: 76px;
    font-weight: 700;
    letter-spacing: -2px;
}
.p_down {
    margin-bottom: 10px;
    color: #fff;
    font-size: 18px;
    line-height: 150%;
    font-weight: 400;
    letter-spacing: 0px;
    text-transform: none;
}
.partners{
    width: 100%;
    padding: 20px 0px;
    margin: 0px;
    background-color: #101010;
    height: 250px;
    border-top: 1px solid #414141;
}

.h-partners{
    width: 100%;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.partners-text{
    color: #fff;
    padding: 3px;
    font-size: 5rem;
    text-transform: capitalize;
    font-weight: bold;
}
.hl-partners{
    width: 100%;
    padding: 20px 0px;
    margin: 0px;
    background-color: var(--second);
    height: 285px;
}

.hl-h-partners{
    width: 100%;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.hl-partners-text{
    color: #fff;
    padding: 3px;
    text-transform: capitalize;
    font-weight: bold;
    letter-spacing: 2vh;
    margin-top: 10px;
}
.partners-box{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: var(--main);
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: var(--pink);
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: var(--cyan);
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.2s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: var(--cyan);
}
.rateus{
    text-align: center;
}
.animation{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
}
.animation.active{
    transform: translateY(0px);
    opacity: 1;
}


.rateus{
    width: 100%;
    padding: 20px 0px;
    margin: 0px;
    background-color: var(--main);
    height: 20px;
}
.h-rateus{
    width: 100%;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.h-rateus{
    width: 100%;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.h-rateus .rateus-text a{
    color: var(--white);
}
.h-rateus .rateus-text a:hover{
    color: var(--trustpilot);
}
.carousel-caption{
    text-align: center!important;
    margin-bottom: 140px;
    margin-left: 1rem;
}
.carousel-caption h2{
    font-size: 5rem;
}


/*Responzivita*/
@media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
  }
}
@media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
  }
  }
@media screen and (max-width: 955px) {
    .menu{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 30%;
        margin-top: 6.2vh;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: var(--main);
        transition: all .2s ease-in-out;
    }
    .menu li{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    nav ul li{
        display: grid;
        padding-top: 40px;
    }
    .special{
        display: inline;
        border-bottom: 1px solid var(--cyan);
    }
    .open-menu , .close-menu {display: block;}
    #check:checked ~ .menu {right: 0;}
    .btn{
        display: none;
    }
}
@media screen and (max-width: 1193px) {
    .h3_left{
        font-size: 60px;
    }
    .p_down{
        font-size: 16px;
    }
    
}
@media screen and (max-width: 1024px){
    .text-img img{
        display: none;
    }
    
}
@media screen and (max-width: 768px) {
    .menu{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 42%;
        margin-top: 6.2vh;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: var(--main);
        transition: all .2s ease-in-out;
    }
    .carousel-item img{
        height: 63vh;
        
    }

    
}
@media screen and (max-width: 527px) {
    .h3_left{
        font-size: 40px;
    }
}
@media screen and (max-width: 430px){
    .menu{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 60%;
        margin-top: 6.2vh;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: var(--main);
        transition: all .2s ease-in-out;
    }
    .carousel-item img{
        height: 55vh;  
    }


}
@media screen and (max-width: 425px) {
    .menu{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 72%;
        margin-top: 6.2vh;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: var(--main);
        transition: all .2s ease-in-out;
    }
    
}
@media screen and (max-width: 620px) {
    .icon{
        display: none;
    }
}
